* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(/img/ygobg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.container{
  margin: 0 4rem;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}